<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Chain</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- Video Background -->
    <video autoplay muted loop class="bg-video">
        <source src="/static/video2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <!-- Main Content with Vote Chain and E Voting System -->
    <div class="main-content">
        <h1 class="vote-chain">Vote Chain</h1>
        <h2 class="e-voting">Decentralized Voting System</h2>
    </div>

</body>
</html>
