<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Page</title>
    <link rel="stylesheet" type="text/css" href="/static/voting.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/voting_panel">Voting Area</a></li>
            <li><a href="/admin_panel">Admin Page</a></li>
            <li><a href="/results">Result Page</a></li>
        </ul>
    </nav>

    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <!-- Signup Form -->
        <div class="signup">
            <form id="voteForm">
                <label for="chk" aria-hidden="true">Candidates</label>
                <h4 id="responseMessage"></h4>
                {% for party in parties %}
                    <div class="party-input">
                        <input type="text" name="party4" placeholder="{{party}}" required="" class="party-name" disabled>
                        <input type="radio" name="party_choice" value="{{ loop.index0 }}" class="party-radio">
                    </div>
                {% endfor %}
                <button type="submit" id="voteButton">Vote</button>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('voteForm').onsubmit = async function(event) {
            event.preventDefault();
            const partyIndex = document.querySelector('input[name="party_choice"]:checked').value;

            const response = await fetch('/vote', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ party_index: partyIndex })
            });

            const data = await response.json();

            if (data.message === 'success') {
                document.getElementById('responseMessage').innerText = 'Vote Successful !!!';
                document.getElementById('voteButton').disabled = true;
                setTimeout(() => {
                    document.getElementById('responseMessage').innerText = '';
                }, 2000);
            } else {
                document.getElementById('responseMessage').innerText = 'Error: ' + data.message;
            }
        };
    </script>
</body>
</html>
